.container {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content {
    display: inline-grid;
    height: 600px;
    width: 600px;
    border: solid 2px rgb(77, 77, 77)
}

.pixel {
    border: transparent;
    height: auto;
    width: auto;
}